<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask with Tableau Connector</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://connectors.tableau.com/libs/tableauwdc-2.4.latest.js"></script>
</head>
<body>
    <!-- Include PapaParse library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

<!-- tableau_connector.js -->
<script type="text/javascript">
    (function () {
        var myConnector = tableau.makeConnector();

        myConnector.getSchema = function (schemaCallback) {
            // Fetch schema dynamically from the Flask app
            $.ajax({
                url: "http://143.89.6.90:443/get-schema",
                dataType: "json",
                success: function (schema) {
                    schemaCallback([schema]);
                },
                error: function () {
                    tableau.abortWithError("Unable to fetch schema");
                }
            });
        };

        myConnector.getData = function (table, doneCallback) {
            // Fetch CSV data from the Flask app
            $.ajax({
                url: "http://143.89.6.90:443/data.csv",
                dataType: "text",
                success: function (csvData) {
                    var tableData = [];
                    // Parse CSV data and add rows to the Tableau table
                    var rows = Papa.parse(csvData, { header: true }).data;
                    $.each(rows, function (i, row) {
                        tableData.push(row);
                    });
                    table.appendRows(tableData);
                    doneCallback();
                },
                error: function () {
                    tableau.abortWithError("Unable to fetch CSV data");
                }
            });
        };

        tableau.registerConnector(myConnector);

        $(document).ready(function () {
            $("#submitButton").click(function () {
                tableau.connectionName = "WDC Data";
                tableau.submit();
            });
        })();
    })();
</script>

    
    <button id="submitButton">Submit</button>
</body>
</html>
